.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  width: 100%;
  background-color: #20232a;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 255, 0, 0.1);
}

.App-title {
  margin: 0;
  font-size: 2rem;
  color: #00ff00;
}

.App-main {
  flex: 1;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
  padding-bottom: 30px; /* Reduzido para acomodar o footer menor */
  overflow-y: auto; /* Permite rolagem se o conteúdo for muito longo */
}

.loading-message {
  font-size: 1.5rem;
  color: #00ff00;
  margin-top: 50px;
}

@media (max-width: 768px) {
  .App-main {
    padding: 10px;
  }
}
